@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.c-aboutUs {
    .wrapper {
        padding: 75px 43px 98px 42px;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.21);
        border-radius: 10px;
        margin: 142px 95px 90px 95px;
        position: relative;
        background-color: $white;
        @media(max-width:1060px) {
            margin: 30px 0px;
        }
        
        .c-aboutUs__title {
            font-size: 50px;
            font-weight: bold;
            text-align: center;
            color: #38028d;
            margin-bottom: 54px;
            @media(max-width:1060px) {
                font-size: 40px;
            }
            @media(max-width:768px) {
                font-size: 25px;
                margin-bottom: 30px;
            }
        }

        .c-aboutUs__desc {
            p {
                font-size: 25px;
                color: #4a4a4a;
                @media(max-width:768px) {
                    font-size: 12px;
                }
            }
        }

        .circle-top-right {
            top: -36px;
            right: -267px;
        }

        .circle-bottom-left {
            z-index: -1;
        }
    }
}