@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.c-contacts {
    .wrapper {
        padding: 75px 95px 98px 95px;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.21);
        border-radius: 10px;
        margin: 142px 95px 90px 95px;
        position: relative;
        background-color: $white;
        @media(max-width:1200px) {
            padding: 45px 30px 80px 30px;
        }
        @media(max-width:768px) {
            margin: 30px 0px;
        }

        .c-contacts__title {
            font-size: 50px;
            font-weight: bold;
            text-align: center;
            color: #38028d;
            margin-bottom: 54px;
            @media(max-width:768px) {
                font-size: 25px;
            }
        }

        .c-contacts__desc {
            form {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                position: relative;

                .form-select {
                    width: 100%;

                    &:after {
                        content: "▼";
                        position: absolute;
                        top: 25px;
                        right: 24px;
                        font-size: 12px;
                        line-height: 30px;
                        padding: 0 9px;
                        background: transparent;
                        color: #4a4a4a;
                        pointer-events: none;
                        @media(max-width:768px) {
                            top: 4px;
                            right: 16px;
                        }
                    }

                    select {
                        width: 100%;
                        padding: 0px 33px 0px 33px;
                        height: 77px;
                        border-radius: 40px;
                        color: #4a4a4a;
                        font-size: 25px;
                        border: none;
                        background-color: #eeeef7;
                        margin-bottom: 45px;
                        appearance: none;
                        @media(max-width:768px) {
                            height: 36px;
                            font-size: 15px;
                            margin-bottom: 15px;
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                }

                .name, .email, textarea {
                    &::placeholder {
                        color: #adacb2;
                    }
                } 

                .name, .email {
                    width: 48%;
                    color: #4a4a4a;
                    font-size: 25px;
                    border-radius: 40px;
                    padding: 0px 33px 0px 33px;
                    height: 77px;
                    background-color: #eeeef7;
                    margin-bottom: 45px;
                    @media(max-width:1200px) {
                        width: 100%;
                        margin: 0px 0px 45px 0px !important;
                    }
                    @media(max-width:768px) {
                        height: 36px;
                        font-size: 15px;
                        margin-bottom: 15px !important;
                    }
                    
                }
                
                .name {
                    margin-right: 14px;
                }

                .email {
                    margin-left: 15px;
                }
                
                textarea {
                    width: 100%;
                    color: #4a4a4a;
                    font-size: 25px;
                    border-radius: 40px;
                    padding: 0px 33px 0px 33px;
                    height: 304px;
                    background-color: #eeeef7;
                    padding: 52px 34px 0px 34px;
                    margin-bottom: 45px;
                    @media(max-width:768px) {
                        height: 258px;
                        font-size: 15px;
                        margin-bottom: 15px;
                        padding: 18px 34px 0px 32px;
                        border-radius: 20px;
                    }
                }

                label {
                    font-size: 25px;
                    font-weight: normal;
                    display: block;
                    padding-left: 65px;
                    position: relative;
                    cursor: pointer;
                    color: #4a4a4a;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    width: 100%;
                    @media(max-width:768px) {
                        display: none;
                    }
                    &:hover {
                        input ~ .checkmark {
                            background-color: #ccc;
                        }
                    }
    
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        &:checked {
                           ~ .checkmark {
                                background-color: #5e77ff; 
                                border-color: #5e77ff;
                            }
    
                           ~ .checkmark:after {
                                display: block;
                            }
                           ~ .label-text {
                               color: white;
                           } 
                        }
                    }
    
                    .checkmark {
                        position: absolute;
                        top: 9px;
                        left: 0px;
                        height: 24px;
                        width: 24px;
                        background-color: transparent;
                        border: 1px solid #cccccc;
                        border-radius: 2px;
    
                        &:after {
                            content: "";
                            position: absolute;
                            display: none;
                            left: 6px;
                            top: 0px;
                            width: 10px;
                            height: 16px;
                            border: solid white;
                            border-width: 0 2px 2px 0;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                    }
                }

                button {
                    font-size: 25px;
                    color: $white;
                    background-image: $gradient;
                    border-radius: 30px;
                    padding: 7px 115px 8px 115px;
                    margin-top: 100px;
                    margin-bottom: 10px;
                    @media(max-width:768px) {
                        font-size: 14px;
                        margin-top: 10px;
                        padding: 7px 70px 8px 70px;
                    }

                }
            }
        }

        .circle-top-right {
            top: -36px;
            right: -267px;
        }

        .circle-bottom-left {
            z-index: -1;
        }
    }
}