// Global styles.

/*
    nested classes allowed only 2 levels.
    camel case class names.
*/

// js- { prefixed classes are javascript hooks }
// c- { prefixed classes are components }
// m- { prefixed classes are module }
// u- { prefixed classes are utility }
@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

body {
    width: 100%;
    font-family: 'Brandon Text';
    font-style: normal;
    font-weight: normal;
    overflow-x: hidden;
}

.wrapper-for-mobile-devices {
    overflow-x: hidden; 
}

.container {
    @media(max-width:768px) {
        padding: 0px 15px !important;
    }
}

ul,li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a, a:hover, a:focus {
    text-decoration: none;
}

p {
    margin: 0;
    padding:0;
}

input, textarea, button {
    border: none;
    &:focus {
        outline: none;
    }
}
.c-header {
    background: linear-gradient(137deg, #f23838, #38028d);
    padding: 37px 0px 39px 0px;  
    @media(max-width:768px) {
        padding: 20px 20px 40px 20px; 
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .c-header__logo {
            a {
                img {
                    width: 160px;
                    height: 53px;
                    @media(max-width:1060px) {
                        width: 86px;
                        height: 30px;
                    }
                }
            }
        }

        .c-header-mobileMenu {
            display: none;
            @media(max-width:768px) {
                display: block;
            }
        }
    
        .c-header__item {
            display: flex;
            @media(max-width:768px) {
                display: none;
            }

            .c-header__item--social {
                ul {
                    display: flex;

                    li {
                        a {
                            width: 35px;
                            height: 35px;
                            display: inline-block;
                            border: 2px solid $white;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: white;
                            font-size: 17px;
                            margin-left: 28px;
                            @media(max-width:1060px) {
                                width: 19px;
                                height: 19px;
                                border: 1px solid #fff;
                                font-size: 8px;
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
    
            .c-header__item--form {
                form {
                    display: flex;

                    input {
                        width: 160px;
                        color: $white;
                        font-size: 14px;
                        border: none;
                        background-color: rgba(255, 255, 255, 0.26);
                        border-radius: 50px;
                        margin-left: 30px;
                        padding: 5px 15px;
                        @media(max-width:1060px) {
                            width: 90px;
                            height: 19px;
                            font-size: 8px;
                            padding: 5px 10px;
                        }

                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }

                        &::placeholder {
                            color: darken($white, 10%);
                        }
                    }
    
                    button {
                        font-size: 17px;
                        color: #38028d;
                        margin-left: 30px;
                        border: none;
                        padding: 4px 60px 6px 60px;
                        border-radius: 100px;
                        background-color: $white;
                        @media(max-width:1060px) {
                            width: 90px;
                            height: 19px;
                            font-size: 8px;
                            padding: 0px;
                        }

                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}

.c-mobileNav {
    display: none;
    position: fixed;
    top: 10px;
    right: 0;
    width: 98%;
    height: 100%;
    background-color: $white;
    z-index: 999;
    overflow-x: scroll;
    padding: 14px 30px 14px 32px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.21);
    
    .c-mobileNav__item {
        .c-mobileNav__item--header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .mobile-logo {
                width: 115px;
                height: 38px;
            }

            .mobile-burger {
                width: 23px;
                height: 15px;
            }
        }

        .c-mobileNav__item--social {
            margin-top: 128px;
            margin-bottom: 56px;

            ul {
                display: flex;
                justify-content: center;

                li {
                    a {
                        width: 35px;
                        height: 35px;
                        display: inline-block;
                        border: 2px solid #d0021b;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #d0021b;
                        font-size: 17px;
                        margin-left: 14px;
                        margin-right: 14px;
                    }
                }
            }
        }

        .c-mobileNav__item--form {
            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 246px;
                margin: 0 auto;

                input {
                    font-size: 11px;
                    color: #4a4a4a;
                    width: 100%;
                    height: 43px;
                    background-color: #efeef8;
                    border-radius: 50px;
                    padding: 0px 20px;
                    margin-bottom: 30px;
                }

                button {
                    width: 144px;
                    height: 32px;
                    text-align: center;
                    border-radius: 30px;
                    color: $white;
                    background-image: linear-gradient(107deg, #ed363a, #38028d);
                }

                p {
                    color: #d0021b;
                    font-size: 14px;
                    text-align: center;
                    padding: 20px 30px; 
                }
            }
        }

        .c-mobileNav__item--footer {
            margin-top: 65px;
            margin-bottom: 15px;

            ul {
                display: flex;
                justify-content: center;
                align-items: center;

                li {
                    a {
                        font-size: 12px;
                        color: $black;
                        margin: 0px 5px;
                    }
                }
            }
        }
    }
}

@keyframes animate-open {
    0% {left:98%;}
    100% {left:2%;}
}

@keyframes animate-close {
    0% {left:2%;}
    100% {left:98%;}
}

.open-menu {
    display: block;  
    animation-name: animate-open;
    animation-duration: 0.4s;
}

.close-menu {
    animation-name: animate-close;
    animation-duration: 0.4s;
}


.c-subscribe {
    .wrapper {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;

        .c-subscribe__logo {
            margin: 35px 0px;
            @media(max-width:768px) {
                margin: 25px 0px;
            }

            img {
                width: 158px;
                height: 53px;
                @media(max-width:768px) {
                    width: 117px;
                    height: 40px;
                }
            }
        }

        .c-subscribe__form {
            margin: 35px 0px 100px 0px;
            
            form {
                width: 451px;
                position: relative;
                @media(max-width:768px) {
                    width: 297px;
                }

                #-error {
                    position: absolute;
                    top: -22px;
                    left: 50%;
                    transform: translateX(-50%);
                    color: red;
                }

                input {
                    width: 100%;
                    font-size: 14px;
                    color: $black;
                    border-radius: 30px;
                    padding: 25px 150px 25px 28px;
                    box-shadow: 0px 15px 95px -21px rgba(0,0,0,0.62);
                    @media(max-width:768px) {
                        padding: 18px 89px 18px 20px;
                        font-size: 10px;
                    }
                    &::placeholder {
                        color: #9c9b9f;
                    }  
                }

                button {
                    position: absolute;
                    top: 11px;
                    right: 11px;
                    font-size: 17px;
                    padding: 13px 29px 12px 29px;
                    color: $white;
                    background-image: linear-gradient(112deg, #f23838, #38028d); 
                    border-radius: 30px;
                    @media(max-width:768px) {
                        font-size: 10px;
                        padding: 10px 24px 10px 24px;
                        top: 8px;
                        right: 8px;    
                    }
                }
            }
        }
    }
}

.c-payment {
    .wrapper {
        .c-payment__title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                font-size: 36px;
                font-weight: bold;
                color: #465964;
                margin: 40px 0px;
                @media(max-width:1060px) {
                    font-size: 26px;
                }
                @media(max-width:768px) {
                    font-size: 17px;
                    margin: 20px 0px;
                }
                
            }

            .line {
                width: 159px;
                height: 3px;
                border: solid 2px #979797;
                margin-bottom: 75px;
                @media(max-width:768px) {
                    font-size: 17px;
                    width: 75px;
                    height: 1px;
                    border: solid 1px #979797;
                    margin-bottom: 40px;
                }
            }
        }

        .c-payment__partners {
            @media(max-width:768px) {
                display: none;
            }
            
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                margin-right: -60px;
                @media(max-width:1060px) {
                    margin: 0px;
                }

                li {
                    margin-bottom: 50px;
                    text-align: center;
                    margin-right: 102px;
                    @media(max-width:992px) {
                        margin: 25px 50px;
                    }
                }
            }
        }

        .c-payment__slider {
            width: 100%;
            position: relative;
            display: none;
            @media(max-width:768px) {
                display: block;
            }

            .owl-carousel {
                text-align: center;
                .slider-item {
                    width: 30%;
                    margin: 0 auto;
                }  
                
                .owl-nav {
                    position: absolute;
                    top: 30%;
                    left: 50%;
                    width: 100%;
                    display: flex;
                    transform: translate(-50%, -50%);
                    justify-content: space-between;
                    button {
                        span {
                            font-size: 40px;
                        }
                    }
                }
            }
        }
    }
}

.c-footer {
    background-image: $gradient;
    padding: 34px 0px 39px 0px; 
    margin-top: 120px;
    @media(max-width:1060px) {
        padding: 13px 0px 13px 0px;
    }
    @media(max-width:768px) {
        margin-top: 20px;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;

        .c-footer__rights {
            p {
                font-size: 18px;
                color: $white;
                @media(max-width:1060px) {
                    font-size: 14px;
                }
            }
        }

        .c-footer__nav {
            @media(max-width:480px) {
                display: none;
            }
            ul {
                display: flex;
                @media(max-width:1060px) {
                    display: none;
                }
                li {
                    a {
                        font-size: 18px;
                        color: $white;
                        margin-left: 15px;
                        
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .c-footer__nav--mobileSocial {
                display: none;
                @media(max-width:1060px) {
                    display: block;
                }

                ul {
                    display: flex;
                    li {
                        a {
                            width: 22px;
                            height: 22px;
                            display: inline-block;
                            border: 1px solid $white;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: white;
                            font-size: 8px;
                            margin-left: 10px;
                           
                        }
                    }
                }
            }
        }
    }
}

.circle-top-right {
    width: 325px;
    height: 325px;
    object-fit: contain;
    background-image: linear-gradient(139deg, #f23838, #38028d);
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    top: -163px;
    right: -163px;
    z-index: -1;
    @media(max-width:1200px) {
        display: none;
    }
}

.circle-top-left {
    width: 338px;
    height: 338px;
    object-fit: contain;
    background-image: linear-gradient(157deg, #f23838, #38028d);
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    top: 165px;
    left: -442px;
    @media(max-width:1200px) {
        display: none;
    }
}

.circle-bottom-right {
    width: 338px;
    height: 338px;
    object-fit: contain;
    background-image: linear-gradient(137deg, #f23838, #38028d);
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    bottom: -362px;
    right: -327px;
    @media(max-width:1200px) {
        display: none;
    }
}

.circle-bottom-left {
    width: 220px;
    height: 220px;
    object-fit: contain;
    background-image: linear-gradient(144deg, #f23838, #38028d);
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    left: -165px;
    bottom: -145px;
    @media(max-width:1200px) {
        display: none;
    }
}

.gameitem-alert-wrapper, .alert-wrapper {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    padding-top: 40px;
    overflow: auto;
}

.alert-wrapper {
    display: none;
    
}

.gameitem-alert-wrapper {
    display: none;
}

.alert {
    width: 493px;
    height: 283px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    padding: 61px 0px;
    flex-direction: column;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.21);
    position: relative;
    z-index: 999;
    background-color: $white;
    @media(max-width:530px) {
        width: 98%;
    }


    .ring {
        margin-bottom: 30px;
        i {
            font-size: 60px;
        }
    }

    .text {
        color: #4a4a4a;
        font-size: 20px;
        padding: 0px 70px;
        text-align: center;
    }

    .close-button {
        display: inline-block;
        width: 35px;
        height: 35px;
        background-color: #efeef8;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 26px;
        right: 26px;
        cursor: pointer;

        .circle {
            width: 10px;
            height: 10px;
            background-color: #7ed321;
            border-radius: 50%;
        }

    }
}

.logged-in {
    .close-button {
        .circle {
            background-color: #7ed321;
        }
    }
    .ring {
        i {
            color: #7ed321;
        }
    }
}

.register {
    .close-button {
        .circle {
            background-color: #38028d;
        }
    }
    .ring {
        i {
            color: #38028d;
        }
    }
}

.subscribed {
    .close-button {
        .circle {
            background-color: #7ed321;
        }
    }
    .ring {
        i {
            color: #7ed321;
        }
    }
}

.no-cash {
    .close-button {
        .circle {
            background-color: #f23839;
        }
    }
    .ring {
        i {
            color: #f23839;
        }
    }
}

.logged-out {
    .close-button {
        .circle {
            background-color: #f23839;
        }
    }
    .ring {
        i {
            color: #f23839;
        }
    }
}

.message-sent {
    .close-button {
        .circle {
            background-color: #7ed321;
        }
    }
    .ring {
        i {
            color: #7ed321;
        }
    }
}   

.register-now {
    .close-button {
        .circle {
            background-color: #f23839;
        }
    }
    .ring {
        i {
            color: #f23839;
        }
    }
}