@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.c-registration {
    background-image: linear-gradient(78deg, #f23838, #38028d);
    padding-top: 111px;
    padding-bottom: 242px; 
    position: relative;
    @media(max-width:768px) {
        padding-top: 0px;
        padding-bottom: 60px;
    }

    .wrapper {
        position: relative;
        display: flex;
        justify-content: flex-end;
        @media(max-width:768px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .c-registration__video {
            position: absolute;
            top: -50px;
            left: -177px;
            width: 80%;
            @media(max-width:1060px) {
                left: -60px;
                width: 70%;
                top: -70px;
              }
            @media(max-width:768px) {
                position: relative;
                width: 100%;
                text-align: center;
                top: 0;
                left: 0;
            }

            video {
                width: 100%; 
                @media(max-width:768px) {
                    width: 80%;
                }
            }
        }

        .c-registration__desc {
            width: 50%;
            margin-right: 90px;
            @media(max-width:768px) {
                width: 100%;
                margin: 0px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            
            .c-registration__desc--textSmall {
                font-size: 18px;
                color: $white;
                margin-top: 30px;
                @media(max-width:1060px) {
                    font-size: 12px;
                }
                @media(max-width:768px) {
                    font-size: 9px;
                    margin-top: 0px;
                }
            }

            .c-registration__desc--textBig {
                font-size: 55px;
                color: $white;
                font-weight: 900;
                margin-top: 11px;
                @media(max-width:1060px) {
                    font-size: 32px;
                }
                @media(max-width:768px) {
                    font-size: 23px;
                    margin-top: 5px;
                    text-align: center;
                }
            }

            form {
                width: 443px;
                position: relative;
                margin-top: 35px;
                @media(max-width:1060px) {
                    width: 211px;
                    margin: 10px;
                }

                input {
                    width: 100%;
                    font-size: 14px;
                    color: $black;
                    border-radius: 30px;
                    padding: 20px 138px 20px 25px;
                    @media(max-width:1060px) {
                        padding: 9px 51px 9px 13px;
                        font-size: 8px;
                    }
                    &::placeholder {
                        color: #9c9b9f;
                    }  
                }

                button {
                    position: absolute;
                    top: 9px;
                    right: 9px;
                    font-size: 17px;
                    padding: 10px 23px 9px 23px;
                    color: $white;
                    background-image: linear-gradient(112deg, #f23838, #38028d); 
                    border-radius: 30px;
                    @media(max-width:1060px) {
                        font-size: 9px;
                        padding: 5px 10px 5px 10px;
                        top: 4px;
                        right: 4px;
                    }
                }
            }
        }
    }

    .c-registration__circle {
        position: absolute;
        left: 0;
        bottom:0;
        @media(max-width:768px) {
            display: none;
        }

        img {
            @media(max-width:1060px) {
                width: 140px;
                height: 140px;
            }
        }
    }
}

.c-gameProcess {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 71px;
    margin-bottom: 140px;
    @media(max-width:768px) {
        margin-top: 54px;
        margin-bottom: 43px;
    }

    .c-gameProcess__title {
        font-size: 36px;
        font-weight: bold;
        color: #465964;
        margin-bottom: 27px;
        @media(max-width:1060px) {
            font-size: 26px;
        }
        @media(max-width:768px) {
            font-size: 17px;
            margin-bottom: 15px;
        }
    }

    .line {
        width: 159px;
        height: 3px;
        border: solid 2px #979797;
        margin-bottom: 75px;
        @media(max-width:768px) {
            height: 1px;
            margin-bottom: 25px;
            border: solid 1px #979797;
            width: 75px;
        }
    }

    .c-gameProcess__icons {
        ul {
            display: flex;
            justify-content: center;
            @media(max-width:768px) {
                flex-wrap: wrap;
            }

            li {
                width: 159px;
                height: 159px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                background-color: #ffffff;
                box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.21);
                margin: 0px 15px;
                padding: 0px 15px;
                @media(max-width:768px) {
                    margin-bottom: 15px;
                    width: 135px;
                    height: 135px;
                }

                &:hover {
                    .default {
                        display: none;
                    }

                    .on-hover {
                        display: block;
                    }
                }

                img {
                    width: 80px;
                    height: 80px;
                    @media(max-width:768px) {
                        width: 68px;
                        height: 68px;
                    }
                }

                .on-hover {
                    display: none;
                }

                p {
                    font-size: 14px;
                    color: #38028d;
                    text-align: center;
                    margin-top: 15px;
                    font-weight: 600;
                    @media(max-width:768px) {
                        font-size: 9px;
                        margin-top: 3px;
                    }
                }
            }
        }
    }
}

.c-featuredGames {
    .container {
        .wrapper {
            padding: 75px 81px 0px 81px;
            box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.21);
            border-radius: 10px;
            margin-bottom: 110px;
            position: relative;
            background-color: $white;
            @media(max-width:768px) {
                padding: 10px 5px;
            }

            .c-featuredGames__title {
                font-size: 50px;
                font-weight: bold;
                color: #38028d;
                text-align: center;
                margin-bottom: 100px;
                @media(max-width:1060px) {
                    font-size: 30px;
                }
                @media(max-width:768px) {
                    margin-bottom: 20px;
                    font-size: 20px;
                }
            }

            .c-featuredGames__gameBox {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .c-featuredGames__gameBox--item {
                    margin: 0px 15px 85px 15px;
                    @media(max-width:768px) {
                        margin: 0px 15px 40px 15px;
                    }

                    a {
                        display: flex;
                        flex-direction: column;
                        &:hover {
                            p {
                                color: #38028d;
                            }
                        }

                        img {
                            width: 223px;
                            height: 123px;
                            border-radius: 10px;
                        }
                        
                        p {
                            margin-top: 23px;
                            text-align: center;
                            display: inline-block;
                            color: #435762;
                            font-size: 20px;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}

.c-registrationPopup {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    padding-top: 40px;
    overflow: auto;
    @media(max-width:768px) {
        padding-top: 55px;
    }

    .c-registrationPopup__item {
        width: 888px;
        background-color: $white;
        border-radius: 5px;
        margin: 0 auto;
        padding: 62px 70px 85px 70px;
        position: relative;
        display: flex;
        flex-direction: column;
        position: relative;
        @media(max-width:992px) {
            width: 588px;
        }
        @media(max-width:768px) {
            width: 95%;
        }
        @media(max-width:480px) {
            padding: 50px 5px;
        }

        .c-registrationPopup__item--title {
            font-size: 36px;
            color: #38028d;
            font-weight: bold;
            text-align: center;
            margin-bottom: 85px;
            @media(max-width:992px) {
                margin-bottom: 35px;
                font-size: 32px;
            }
            @media(max-width:768px) {
                margin-bottom: 30px;
                font-size: 15px;
            }
        }

        .c-registrationPopup__item--form {
            form {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                .form-select {
                    width: 100%;
                    position: relative;

                    &:after {
                        content: "▼";
                        position: absolute;
                        top: 25px;
                        right: 24px;
                        font-size: 12px;
                        line-height: 30px;
                        padding: 0 9px;
                        background: transparent;
                        color: #4a4a4a;
                        pointer-events: none;
                        @media(max-width:768px) {
                            top: 5px;
                            right: 7px;
                        }
                    }

                    select {
                        width: 100%;
                        padding: 0px 33px 0px 33px;
                        height: 77px;
                        border-radius: 40px;
                        color: #4a4a4a;
                        font-size: 25px;
                        border: none;
                        background-color: #eeeef7;
                        margin-bottom: 45px;
                        appearance: none;
                        @media(max-width:992px) {
                            margin-bottom: 15px;
                        }
                        @media(max-width:768px) {
                            font-size: 15px;
                            height: 39px;
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                }

                .gender-select {
                    width: 49%;
                    position: relative;
                    @media(max-width:992px) {
                        width: 100%;
                    }

                    &:after {
                        content: "▼";
                        position: absolute;
                        top: 25px;
                        right: 24px;
                        font-size: 12px;
                        line-height: 30px;
                        padding: 0 9px;
                        background: transparent;
                        color: #4a4a4a;
                        pointer-events: none;
                        @media(max-width:768px) {
                            top: 5px;
                            right: 7px;
                        }
                    }

                    select {
                        width: 100%;
                        padding: 0px 33px 0px 33px;
                        height: 77px;
                        border-radius: 40px;
                        color: #4a4a4a;
                        font-size: 25px;
                        border: none;
                        background-color: #eeeef7;
                        margin-bottom: 45px;
                        appearance: none;
                        @media(max-width:992px) {
                            margin-bottom: 15px;
                        }
                        @media(max-width:768px) {
                            font-size: 15px;
                            height: 39px;
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                }

                .username, .firstName, .lastName, .email, .confirmEmail, .password, .confirmPassword, .contactNumber, .birthDate, .address, .town, .state, .postcode {
                    width: 49%;
                    color: #4a4a4a;
                    font-size: 25px;
                    border-radius: 40px;
                    padding: 0px 33px 0px 33px;
                    height: 77px;
                    background-color: #eeeef7;
                    margin-bottom: 45px;
                    @media(max-width:992px) {
                        width: 100%;
                        margin-bottom: 15px;
                    }
                    @media(max-width:768px) {
                        font-size: 15px;
                        height: 39px;
                    }
                    &::placeholder {
                        color: #adacb2;
                    }

                }

                label {
                    font-size: 25px;
                    font-weight: normal;
                    display: block;
                    padding-left: 65px;
                    padding-right: 45px;
                    margin-bottom: 25px;
                    position: relative;
                    cursor: pointer;
                    color: #4a4a4a;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    width: 100%;
                    @media(max-width:992px) {
                        padding-left: 48px;
                        padding-right: 20px;
                    }
                    @media(max-width:768px) {
                        font-size: 15px;
                    }
                    &:hover {
                        input ~ .checkmark {
                            background-color: #ccc;
                        }
                    }
    
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        &:checked {
                           ~ .checkmark {
                                background-color: #5e77ff; 
                                border-color: #5e77ff;
                            }
    
                           ~ .checkmark:after {
                                display: block;
                            }
                           ~ .label-text {
                               color: white;
                           } 
                        }
                    }
    
                    .checkmark {
                        position: absolute;
                        top: 9px;
                        left: 0px;
                        height: 15px;
                        width: 15px;
                        background-color: transparent;
                        border: 1px solid #cccccc;
                        border-radius: 2px;
    
                        &:after {
                            content: "";
                            position: absolute;
                            display: none;
                            left: 6px;
                            top: 0px;
                            width: 10px;
                            height: 16px;
                            border: solid white;
                            border-width: 0 2px 2px 0;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                            @media(max-width:768px) {
                                left: 4px;
                                width: 6px;
                                height: 10px;
                            }
                        }
                    }
                }

                .button-container {
                    width: 100%;
                    text-align: center;

                    button {
                        font-size: 25px;
                        color: $white;
                        background-image: $gradient;
                        border-radius: 30px;
                        padding: 7px 115px 8px 115px;
                        margin-top: 60px;
                        margin-bottom: 5px;
                        @media(max-width:992px) {
                            margin-top: 30px;
                        }
                        @media(max-width:768px) {
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        .closePopup {
            position: absolute;
            top: 0;
            right: 0;
            width: 48px;
            height: 48px;
            background-color: #f5f5f5;
            border-top-right-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
}