@font-face {
    font-family: 'Brandon Text';
    src: url('../fonts/BrandonTextBlack.woff2') format('woff2'),
        url('../fonts/BrandonTextBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('../fonts/BrandonText-Medium.woff2') format('woff2'),
        url('../fonts/BrandonText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('../fonts/BrandonText.woff2') format('woff2'),
        url('../fonts/BrandonText.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('../fonts/BrandonText-Bold.woff2') format('woff2'),
        url('../fonts/BrandonText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

