// [[ Bootstrap defaults.
$icon-font-path: '../fonts/';
$grid-gutter-width: 0;
$container-large-desktop: 1110px;
// ]] Bootstrap defaults

$white:  #fff;
$black: #000000;
$gradient: linear-gradient(137deg, #f23838, #38028d);

